body {
    min-height: 100%;
    background-color: green;
}

* {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.candidate-section {
    background-color: blue;
    text-align: center;
}

.candidate-image {

}


/*****************************************
				* Desktop
*****************************************/


/*****************************************
				* Tablet
*****************************************/



/*****************************************
				* Mobile
*****************************************/

