@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300');

.cleardiv {
    clear: both;
}

html,
body {
    background-color: black;
    font-family: "Open Sans", sans-serif !important;
    color: #f9f9f9;
}

* {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 1.5em;
    font-family: "Novecentosanswide-Bold" , sans-serif !important;
}

h2 {
    font-size: 1.5em;
    font-family: "Novecentosanswide-Normal" , sans-serif !important;
}

li {
    color: black;
    font-size: 1em;
}

.main {
    background-image: url("../img/navy_blue.png");
}

.header-section{

    background-color: black;
   
   img {
        margin: 0 auto;
        display: block;
        padding: 20px 0;
   }

}

.container {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;


    @media only screen and (min-width: 950px) {
        padding: 0 0 50px 0 !important;
        width: 950px;
        margin: 0 auto !important;
    }
}



.bold {
    font-weight: 700;
}

.candidate-section {
    text-align: center;
    padding: 20px;

    .left-arrow {
        vertical-align: middle;
        display: inline-block;
        float: left;
        font-size: 4.5em;
        width: 61px;

        @media only screen and (min-width: 950px) {
            width: 90px;
        }

    }

    .candidate-info {
        display: inline-block;
        width: 60%;

        h1 {
            font-weight: bold;
            margin-bottom: 0;
            font-size: 2.5em;
        }

        h2 {
            margin-top: 0;
            font-weight: thin;
        }

        @media only screen and (min-width: 950px) {
            width: 750px;
        }

    }

    .right-arrow {
        display: inline-block;
        float: right;
        font-size: 4.5em;
        width: 61px;

        @media only screen and (min-width: 950px) {
            width: 90px;
        }

    }
}

.bills-name-section {
    text-align: center;
    line-height: 120px;

    .left-x {
        vertical-align: middle;
        display: inline-block;
        float: left;
        font-size: 4em;
        padding-left: 10px;
    }

    .bills-info {
        display: inline-block;

        h1 {
            font-weight: bold;
            font-size: 2.5em;
        }
    }

    .right-x {
        display: inline-block;
        float: right;
        font-size: 4em;
        padding-right: 10px;
    }
}

.desktop-left-section {
    height: 100%;

    @media only screen and (min-width: 950px) {
        float: left;
        width: 250px;
    }

    .candidate-image {
        margin: auto;
        text-align: center;
        margin-bottom: 20px;

        h1 {
            display: none;;
        }

        img {
            width: 200px;
            -webkit-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            -moz-box-shadow:    1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            box-shadow:         1px 0px 20px 5px rgba(0, 0, 0, 0.3);

        }

        @media only screen and (min-width: 950px) {
            text-align: left;

            h1 {
                display: block;
            }

            img {
                width: 200px;
                border: 1px solid rgba(0,0,0,.5);

            }
        }
    }

    .candidate-committees {
        display: none;


        @media only screen and (min-width: 950px) {
            float: left;
            width: 80%;
            display: block;
            background-color: #bdbdbd;
            border: 1px solid rgba(0,0,0,.5);
            margin-bottom: 40px;
            -webkit-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            -moz-box-shadow:    1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            box-shadow:         1px 0px 20px 5px rgba(0, 0, 0, 0.3);



            h1 {
                background-color: #7E7C7D;
                margin: 0 0 !important;
                padding: 20px 20px;
                border-bottom: 1px solid rgba(0,0,0,.5);

                span#bill {
                    background-image: url("../img/bill.svg");
                    height: 32px;

                }

            }

            ul {
                padding: 0px 20px 0 20px;
                background-color: #bdbdbd;
                margin-bottom: 0;

            }

            li {
                list-style-type: none;
                border-bottom: 1px solid rgba(0,0,0,.5);
                padding: 10px 0 10px 0;
                text-transform: uppercase;

                &:first-child {
                    padding-top: 10px;
                }

                &:last-child {
                    border-bottom: none;
                }

            }
        }
    }

    .bill-description-desktop {
        display: none;
        margin-bottom: 20px;

        @media only screen and (min-width: 950px) {
            float: left;
            width: 80%;
            display: block;
        }
    }

    .bills-sponsored-section-desktop {
        display: none;

        @media only screen and (min-width: 950px) {
            float: left;
            width: 80%;
            display: block;
            background-color: #bdbdbd;
            border: 1px solid rgba(0,0,0,.5);
            margin-bottom: 40px;
            -webkit-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            -moz-box-shadow:    1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            box-shadow:         1px 0px 20px 5px rgba(0, 0, 0, 0.3);



            h1 {
                background-color: #7E7C7D;
                margin: 0 0 !important;
                padding: 20px 20px;
                border-bottom: 1px solid rgba(0,0,0,.5);
                font-size: 1.2em;

            }

            ul {
                padding: 0;
                background-color: #bdbdbd;
                margin-bottom: 0;



            }

            li {
                list-style-type: none;
                border-bottom: 1px solid rgba(0,0,0,.5);
                padding: 10px 20px 10px 20px;

                &:first-child {
                    padding-top: 10px;
                }

                &:last-child {
                    border-bottom: none;
                }

            }

            li:hover {
                cursor: pointer;
                background-color: #7E7C7D;

            }
        }
    }

    .candidate-list-section-desktop {
        display: none;

        @media only screen and (min-width: 950px) {
            float: left;
            width: 80%;
            display: block;
            background-color: #bdbdbd;
            border: 1px solid rgba(0,0,0,.5);
            margin-bottom: 40px;
            -webkit-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            -moz-box-shadow:    1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            box-shadow:         1px 0px 20px 5px rgba(0, 0, 0, 0.3);



            h1 {
                background-color: #7E7C7D;
                margin: 0;
                padding: 20px 20px;
                border-bottom: 1px solid rgba(0,0,0,.5);
                font-size: 1.2em;

            }

            ul {
                padding: 0px 20px 0 20px;
                background-color: #bdbdbd;
                margin-bottom: 0;



            }

            li {
                list-style-type: none;
                border-bottom: 1px solid rgba(0,0,0,.5);
                padding: 10px 0 10px 0;

                &:first-child {
                    padding-top: 10px;
                }

                &:last-child {
                    border-bottom: none;
                }

            }
        }
    }

}

.desktop-right-section {
    height: 100%;

    @media only screen and (min-width: 950px) {
        display: inline-block;
        float: right;
        width: 700px;
    }

    .campaign-contributions-section {
        text-align: center;
        background-color: #bdbdbd;
        width: 100%;
        border: 1px solid rgba(0,0,0,.5);

        h1 {
            padding: 20px;
            background-color: #7E7C7D;
            padding: 20px;
            margin: 0;
            border-bottom: 1px solid rgba(0,0,0,.5);
        }

        @media only screen and (min-width: 950px) {
            text-align: left;
            margin-bottom: 40px;
            -webkit-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            -moz-box-shadow:    1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            box-shadow:         1px 0px 20px 5px rgba(0, 0, 0, 0.3);
        }

        .contributions-graph-section {
            height: 600px;

            .contributions-graph {
                width: 100%;
                height: 500px;
                margin: 0 auto;

                @media only screen and (min-width: 950px) {
                    width: 700px;
                }
            }

        }
    }

    .industry-influence-section {
        text-align: center;
        background-color: #bdbdbd;
        border: 1px solid rgba(0,0,0,.5);

        h1 {
                background-color: #7E7C7D;
                padding: 20px;
                margin: 0;
                border-bottom: 1px solid rgba(0,0,0,.5);

        }

        @media only screen and (min-width: 950px) {
            text-align: left;
            border: 1px solid rgba(0,0,0,.5);
            -webkit-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            -moz-box-shadow:    1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            box-shadow:         1px 0px 20px 5px rgba(0, 0, 0, 0.3);

        }

        .influence-graph-section {
            height: 400px;

            .pie-chart {
                width: 100%;
                height: 400px;
                margin: 0 auto;

                @media only screen and (min-width: 950px) {
                    width: 700px;
                    margin: 0 auto;
                }
            }
        }
    }

    .bill-industry-influence-section {
        text-align: center;
        background-color: #bdbdbd;
        border: 1px solid rgba(0,0,0,.5);

        h1 {
                background-color: #7E7C7D;
                padding: 20px;
                margin: 0;
                border-bottom: 1px solid rgba(0,0,0,.5);

        }

        @media only screen and (min-width: 950px) {
            text-align: left;
            border: 1px solid rgba(0,0,0,.5);
            -webkit-box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            -moz-box-shadow:    1px 0px 20px 5px rgba(0, 0, 0, 0.3);
            box-shadow:         1px 0px 20px 5px rgba(0, 0, 0, 0.3);

        }

        .influence-graph-section {

            .pie-chart {
                width: 100%;
                margin: 0 auto;

                @media only screen and (min-width: 950px) {
                    width: 700px;
                }
            }
        }
    }

    .bill-industry-description {
        background-color: #7E7C7D;
        padding: 20px;
        display: none;

        @media only screen and (min-width: 950px) {
            display: block;
            border-left: 1px solid rgba(0,0,0,.5);
            border-right: 1px solid rgba(0,0,0,.5);
            border-bottom: 1px solid rgba(0,0,0,.5);
        }
    }

    .bill-description-mobile {
        padding: 30px;

        @media only screen and (min-width: 950px) {
            display: none;
        }

    }

    .bills-sponsored-section-mobile {
        background-color: #7E7C7D;
        border: 1px solid rgba(0,0,0,.5);

        h1 {
            text-align: center;
            padding: 20px;
            border-bottom: 1px solid rgba(0,0,0,.5);
            margin: 0;
        }

        ul {
            margin: 0 auto;
            font-size: 1em;
            background-color: #bdbdbd;
            text-align: center;
        }

        li {
            list-style-type: none;
            border-bottom: 1px solid rgba(0,0,0,.5);
            padding: 10px 0 10px 0;

            span {
                font-size: 1.5em;
                vertical-align: middle;
                line-height: 1.3em;
            }
        }

        a {
            text-decoration: none;
            color: rgba(0,0,0,.5);
        }

        a:hover {

            li {
                background-color: darkgray;
            }
        }

        @media only screen and (min-width: 950px) {
            display: none;
        }
    }

    .candidate-list-section-mobile {
        background-color: lightgray;

        h1 {
            text-align: center;
            padding-top: 20px;
        }

        ul {
            padding-left: 0;
            font-size: 1.5em;
            background-color: lightgray;
            line-height: 3em;
        }

        li {
            padding-left: 50px;
            list-style-type: none;
            border-top: 1px solid #bdbdbd;

            span {
                float: right;
                font-size: 1.5em;
                vertical-align: middle;
                line-height: 1.3em;
                padding-right: 50px;
            }
        }

        a {
            text-decoration: none;
            color: rgba(0,0,0,.5);
        }

        a:hover {

            li {
                background-color: darkgray;
            }
        }

        @media only screen and (min-width: 950px) {
            display: none;
        }

        @media only screen and (min-width: 950px) {
            display: none;
        }
    }
}

.full-container {
    background-color: black;
    min-height: 100%;
}

.contributions-graph{
    height:500px;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.footer-section {
    color: lightgray;
    background-color: black;
    height: 100%;

    h1 {
        text-align: center;
        padding-top: 20px;
        margin: 0;
    }

    h2 {
        padding: 0 20px 0 20px;
        text-align: center;
    }

    p {
        padding: 0 20px 20px 20px;
    }

    @media only screen and (min-width: 950px) {
        h2 {
            padding: 30px 100px 0 100px;
            text-align: left;
        }

        p {
            padding: 0 100px 100px 100px;
        }
    }
}
