html,
body {
    min-height: 100%;
    background-color: white;

    @media only screen and (max-width: 1000px) {
        margin: 0px !important;
    }
}

* {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.navbar {
    background-color: black;
    border-color: black;
    margin-bottom: 0px;

    .navbar-brand {
        color: lightgray;
        font-size: 1.5em;
    }

}

.container {
    width: 100%;
    background-color: white;
    padding: 0px 0px 20px 0px !important;
    margin: 0px 0px 0px 0px !important;

    @media only screen and (min-width: 1000px) {
        padding: 0 0 100px 0 !important;
        width: 1000px;
        margin: 0 auto !important;
    }
}

.candidate-section {
    text-align: center;
    line-height: 100px;

    .left-arrow {
        vertical-align: middle;
        display: inline-block;
        float: left;
        font-size: 5em;
    }

    .candidate-info {
        display: inline-block;

        h1 {
            font-weight: bold;
            margin-bottom: 0;
            font-size: 3em;
        }

        h2 {
            margin-top: 0;
            font-weight: thin;
        }
    }

    .right-arrow {
        display: inline-block;
        float: right;
        font-size: 5em;
    }
}

.bills-name-section {
    text-align: center;
    line-height: 100px;

    .bills-info {
        display: inline-block;

        h1 {
            font-weight: bold;
            font-size: 3em;
        }
    }

    .right-x {
        float: right;
        font-size: 4em;
    }
}

.desktop-left-section {
    height: 100%;
    width: 100%;

    @media only screen and (min-width: 1000px) {
        float: left;
        width: 30%;
    }

    .candidate-image {
        margin: auto;
        text-align: center;
        margin-bottom: 20px;

        h1 {
            display: none;;
        }

        @media only screen and (min-width: 1000px) {
            text-align: left;

            h1 {
                display: block;
            }
        }
    }

    .candidate-committees {
        display: none;
        margin-bottom: 20px;

        @media only screen and (min-width: 1000px) {
            float: left;
            width: 80%;
            display: block;

            h1 {
                background-color: white;
            }

            ul {
                padding-left: 15px;
                font-size: 1.5em;
                background-color: lightgray;
                line-height: 2em;
            }

            li {
                list-style-type: none;
            }
        }
    }

    .bills-sponsored-section-desktop {
        width: 100%;
        display: none;

        @media only screen and (min-width: 1000px) {
            float: left;
            width: 80%;
            display: block;

            h1 {
                background-color: white;
            }

            .bill-list {
            background-color: lightgray;

            .bill-item {
                font-size: 1.5em;
                border-bottom: 1px solid white;
                border-top: 1px solid white;
                margin-top: 0px;
            }
            
        }
        }
    }

}

.desktop-right-section {
    height: 100%;
    width: 100%;

    @media only screen and (min-width: 1000px) {
        display: inline-block;
        width: 70%;
    }

    .campaign-contributions-section {
        text-align: center;
        background-color: lightgray;
        width: 100%;
        margin-bottom: 20px;

        @media only screen and (min-width: 1000px) {
            text-align: left;
            
            h1 {
                background-color: white;
            }
        }

        .contributions-graph {
            background: url("http://placekitten.com/600/400");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            min-height: 400px;

        }
    }

    .industry-influence-section {
        text-align: center;
        width: 100%;

        @media only screen and (min-width: 1000px) {
            text-align: left;
        }

        .influence-graph {
            background: url("http://placekitten.com/600/401");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            min-height: 400px;
        }
    }

    .bills-sponsored-section-mobile {
        background-color: lightgray;
        width: 100%;
        font-size: 1.5em;

        h1 {
            text-align: center;
        }

        .bill-list {
            background-color: lightgray;

            .bill-item {
                border-bottom: 1px solid white;
                border-top: 1px solid white;
                margin-top: 0px;

            }
            
        }

        @media only screen and (min-width: 1000px) {
            display: none;
        }
    }
}

.footer {
    color: lightgray;
    background-color: black;

    ul {
        padding-top: 30px;
        text-align: center;
        font-size: 2em;
    }

    li {
        display: inline;
        list-style-type: none;
    }

    @media only screen and (min-width: 1000px) {
            h2 {
                padding: 30px 100px 0 100px;
            }

            p {
                padding: 0 100px 100px 100px;
            }
        }
}

