/* line 2, ../../sass/style.scss */
html,
body {
  background-color: white;
}
@media only screen and (max-width: 950px) {
  /* line 2, ../../sass/style.scss */
  html,
  body {
    margin: 0px !important;
  }
}

/* line 9, ../../sass/style.scss */
.left-arrow {
  color: red;
}

/* line 13, ../../sass/style.scss */
.right-arrow {
  color: red;
}

/* line 17, ../../sass/style.scss */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../../sass/style.scss */
h1 {
  font-size: 2em;
}

/* line 29, ../../sass/style.scss */
h2 {
  font-size: 1.5em;
}

/* line 33, ../../sass/style.scss */
.navbar {
  background-color: black;
  border-color: black;
  margin-bottom: 0px;
  border-radius: 0px;
}
/* line 39, ../../sass/style.scss */
.navbar .navbar-brand {
  color: lightgray;
  font-size: 2em;
}

/* line 46, ../../sass/style.scss */
.container {
  width: 100%;
  background-color: white;
  padding: 0px 0px 20px 0px !important;
  margin: 0px 0px 0px 0px !important;
}
@media only screen and (min-width: 950px) {
  /* line 46, ../../sass/style.scss */
  .container {
    padding: 0 0 100px 0 !important;
    width: 950px;
    margin: 0 auto !important;
  }
}

/* line 59, ../../sass/style.scss */
.candidate-section {
  text-align: center;
  line-height: 100px;
}
/* line 63, ../../sass/style.scss */
.candidate-section .left-arrow {
  vertical-align: middle;
  display: inline-block;
  float: left;
  font-size: 4.5em;
  padding-left: 10px;
}
/* line 71, ../../sass/style.scss */
.candidate-section .candidate-info {
  display: inline-block;
}
/* line 74, ../../sass/style.scss */
.candidate-section .candidate-info h1 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 2.5em;
}
/* line 80, ../../sass/style.scss */
.candidate-section .candidate-info h2 {
  margin-top: 0;
  font-weight: thin;
}
/* line 86, ../../sass/style.scss */
.candidate-section .right-arrow {
  display: inline-block;
  float: right;
  font-size: 4.5em;
  padding-right: 10px;
}

/* line 94, ../../sass/style.scss */
.bills-name-section {
  text-align: center;
  line-height: 120px;
}
/* line 98, ../../sass/style.scss */
.bills-name-section .left-x {
  vertical-align: middle;
  display: inline-block;
  float: left;
  font-size: 4em;
  padding-left: 10px;
}
/* line 106, ../../sass/style.scss */
.bills-name-section .bills-info {
  display: inline-block;
}
/* line 109, ../../sass/style.scss */
.bills-name-section .bills-info h1 {
  font-weight: bold;
  font-size: 2.5em;
}
/* line 115, ../../sass/style.scss */
.bills-name-section .right-x {
  display: inline-block;
  float: right;
  font-size: 4em;
  padding-right: 10px;
}

/* line 123, ../../sass/style.scss */
.desktop-left-section {
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 950px) {
  /* line 123, ../../sass/style.scss */
  .desktop-left-section {
    float: left;
    width: 30%;
  }
}
/* line 132, ../../sass/style.scss */
.desktop-left-section .candidate-image {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
/* line 137, ../../sass/style.scss */
.desktop-left-section .candidate-image h1 {
  display: none;
}
/* line 141, ../../sass/style.scss */
.desktop-left-section .candidate-image img {
  width: 30%;
}
@media only screen and (min-width: 950px) {
  /* line 132, ../../sass/style.scss */
  .desktop-left-section .candidate-image {
    text-align: left;
  }
  /* line 148, ../../sass/style.scss */
  .desktop-left-section .candidate-image h1 {
    display: block;
  }
  /* line 152, ../../sass/style.scss */
  .desktop-left-section .candidate-image img {
    width: 80%;
  }
}
/* line 158, ../../sass/style.scss */
.desktop-left-section .candidate-committees {
  display: none;
  margin-bottom: 20px;
}
@media only screen and (min-width: 950px) {
  /* line 158, ../../sass/style.scss */
  .desktop-left-section .candidate-committees {
    float: left;
    width: 80%;
    display: block;
  }
  /* line 167, ../../sass/style.scss */
  .desktop-left-section .candidate-committees h1 {
    background-color: white;
  }
  /* line 171, ../../sass/style.scss */
  .desktop-left-section .candidate-committees ul {
    padding-left: 15px;
    font-size: 1.5em;
    background-color: lightgray;
    line-height: 2em;
  }
  /* line 178, ../../sass/style.scss */
  .desktop-left-section .candidate-committees li {
    list-style-type: none;
  }
}
/* line 184, ../../sass/style.scss */
.desktop-left-section .bill-description-desktop {
  display: none;
  margin-bottom: 20px;
}
@media only screen and (min-width: 950px) {
  /* line 184, ../../sass/style.scss */
  .desktop-left-section .bill-description-desktop {
    float: left;
    width: 80%;
    display: block;
  }
}
/* line 195, ../../sass/style.scss */
.desktop-left-section .bills-sponsored-section-desktop {
  width: 100%;
  display: none;
}
@media only screen and (min-width: 950px) {
  /* line 195, ../../sass/style.scss */
  .desktop-left-section .bills-sponsored-section-desktop {
    float: left;
    width: 80%;
    display: block;
  }
  /* line 204, ../../sass/style.scss */
  .desktop-left-section .bills-sponsored-section-desktop h1 {
    background-color: white;
  }
  /* line 208, ../../sass/style.scss */
  .desktop-left-section .bills-sponsored-section-desktop ul {
    padding-left: 0;
    font-size: 1.5em;
    background-color: lightgray;
    line-height: 2em;
  }
  /* line 215, ../../sass/style.scss */
  .desktop-left-section .bills-sponsored-section-desktop li {
    padding-left: 15px;
    list-style-type: none;
    border-top: 1px solid white;
  }
  /* line 220, ../../sass/style.scss */
  .desktop-left-section .bills-sponsored-section-desktop li span {
    float: right;
    font-size: 1.5em;
    vertical-align: middle;
    line-height: 1.3em;
    padding-right: 15px;
  }
  /* line 229, ../../sass/style.scss */
  .desktop-left-section .bills-sponsored-section-desktop a {
    text-decoration: none;
    color: black;
  }
  /* line 236, ../../sass/style.scss */
  .desktop-left-section .bills-sponsored-section-desktop a:hover li {
    background-color: darkgray;
  }
}
/* line 243, ../../sass/style.scss */
.desktop-left-section .candidate-list-section-desktop {
  width: 100%;
  display: none;
}
@media only screen and (min-width: 950px) {
  /* line 243, ../../sass/style.scss */
  .desktop-left-section .candidate-list-section-desktop {
    float: left;
    width: 80%;
    display: block;
  }
  /* line 252, ../../sass/style.scss */
  .desktop-left-section .candidate-list-section-desktop h1 {
    background-color: white;
  }
  /* line 256, ../../sass/style.scss */
  .desktop-left-section .candidate-list-section-desktop ul {
    padding-left: 0;
    font-size: 1.5em;
    background-color: lightgray;
    line-height: 2em;
  }
  /* line 263, ../../sass/style.scss */
  .desktop-left-section .candidate-list-section-desktop li {
    padding-left: 15px;
    list-style-type: none;
    border-top: 1px solid white;
  }
  /* line 268, ../../sass/style.scss */
  .desktop-left-section .candidate-list-section-desktop li span {
    float: right;
    font-size: 1.5em;
    vertical-align: middle;
    line-height: 1.3em;
    padding-right: 15px;
  }
  /* line 277, ../../sass/style.scss */
  .desktop-left-section .candidate-list-section-desktop a {
    text-decoration: none;
    color: black;
  }
  /* line 284, ../../sass/style.scss */
  .desktop-left-section .candidate-list-section-desktop a:hover li {
    background-color: darkgray;
  }
}

/* line 293, ../../sass/style.scss */
.desktop-right-section {
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 950px) {
  /* line 293, ../../sass/style.scss */
  .desktop-right-section {
    display: inline-block;
    width: 70%;
  }
}
/* line 302, ../../sass/style.scss */
.desktop-right-section .campaign-contributions-section {
  text-align: center;
  background-color: lightgray;
  width: 100%;
  margin-bottom: 20px;
}
/* line 308, ../../sass/style.scss */
.desktop-right-section .campaign-contributions-section h1 {
  padding-top: 20px;
}
@media only screen and (min-width: 950px) {
  /* line 302, ../../sass/style.scss */
  .desktop-right-section .campaign-contributions-section {
    text-align: left;
  }
  /* line 315, ../../sass/style.scss */
  .desktop-right-section .campaign-contributions-section h1 {
    background-color: white;
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}
/* line 324, ../../sass/style.scss */
.desktop-right-section .campaign-contributions-section .contributions-graph {
  background: url("http://i.stack.imgur.com/jj5Nf.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 400px;
}
/* line 333, ../../sass/style.scss */
.desktop-right-section .industry-influence-section {
  text-align: center;
  width: 100%;
}
/* line 337, ../../sass/style.scss */
.desktop-right-section .industry-influence-section h1 {
  padding-top: 20px;
}
@media only screen and (min-width: 950px) {
  /* line 333, ../../sass/style.scss */
  .desktop-right-section .industry-influence-section {
    text-align: left;
    background-color: lightgray;
  }
  /* line 345, ../../sass/style.scss */
  .desktop-right-section .industry-influence-section h1 {
    padding-top: 0;
    background-color: white;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}
/* line 353, ../../sass/style.scss */
.desktop-right-section .industry-influence-section .influence-graph-section {
  height: 300px;
}
/* line 356, ../../sass/style.scss */
.desktop-right-section .industry-influence-section .influence-graph-section .pie-chart {
  width: 320px;
  height: 300px;
  margin: 0 auto;
}
/* line 364, ../../sass/style.scss */
.desktop-right-section .bill-industry-influence-section {
  text-align: center;
  width: 100%;
  background-color: lightgray;
}
/* line 369, ../../sass/style.scss */
.desktop-right-section .bill-industry-influence-section h1 {
  padding-top: 20px;
}
@media only screen and (min-width: 950px) {
  /* line 364, ../../sass/style.scss */
  .desktop-right-section .bill-industry-influence-section {
    text-align: left;
  }
  /* line 376, ../../sass/style.scss */
  .desktop-right-section .bill-industry-influence-section h1 {
    background-color: white;
    padding-top: 0;
  }
}
/* line 382, ../../sass/style.scss */
.desktop-right-section .bill-industry-influence-section .influence-graph-section {
  height: 300px;
}
/* line 385, ../../sass/style.scss */
.desktop-right-section .bill-industry-influence-section .influence-graph-section .pie-chart {
  width: 320px;
  height: 300px;
  margin: 0 auto;
}
/* line 393, ../../sass/style.scss */
.desktop-right-section .bill-industry-description {
  background-color: darkgray;
  padding: 30px;
  display: none;
}
@media only screen and (min-width: 950px) {
  /* line 393, ../../sass/style.scss */
  .desktop-right-section .bill-industry-description {
    display: block;
  }
}
/* line 403, ../../sass/style.scss */
.desktop-right-section .bill-description-mobile {
  width: 100%;
  padding: 30px;
}
@media only screen and (min-width: 950px) {
  /* line 403, ../../sass/style.scss */
  .desktop-right-section .bill-description-mobile {
    display: none;
  }
}
/* line 413, ../../sass/style.scss */
.desktop-right-section .bills-sponsored-section-mobile {
  background-color: lightgray;
  width: 100%;
}
/* line 417, ../../sass/style.scss */
.desktop-right-section .bills-sponsored-section-mobile h1 {
  text-align: center;
  padding-top: 20px;
}
/* line 422, ../../sass/style.scss */
.desktop-right-section .bills-sponsored-section-mobile ul {
  padding-left: 0;
  font-size: 1.5em;
  background-color: lightgray;
  line-height: 3em;
}
/* line 429, ../../sass/style.scss */
.desktop-right-section .bills-sponsored-section-mobile li {
  padding-left: 50px;
  list-style-type: none;
  border-top: 1px solid white;
}
/* line 434, ../../sass/style.scss */
.desktop-right-section .bills-sponsored-section-mobile li span {
  float: right;
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 1.3em;
  padding-right: 50px;
}
/* line 443, ../../sass/style.scss */
.desktop-right-section .bills-sponsored-section-mobile a {
  text-decoration: none;
  color: black;
}
/* line 450, ../../sass/style.scss */
.desktop-right-section .bills-sponsored-section-mobile a:hover li {
  background-color: darkgray;
}
@media only screen and (min-width: 950px) {
  /* line 413, ../../sass/style.scss */
  .desktop-right-section .bills-sponsored-section-mobile {
    display: none;
  }
}
/* line 460, ../../sass/style.scss */
.desktop-right-section .candidate-list-section-mobile {
  background-color: lightgray;
  width: 100%;
}
/* line 464, ../../sass/style.scss */
.desktop-right-section .candidate-list-section-mobile h1 {
  text-align: center;
  padding-top: 20px;
}
/* line 469, ../../sass/style.scss */
.desktop-right-section .candidate-list-section-mobile ul {
  padding-left: 0;
  font-size: 1.5em;
  background-color: lightgray;
  line-height: 3em;
}
/* line 476, ../../sass/style.scss */
.desktop-right-section .candidate-list-section-mobile li {
  padding-left: 50px;
  list-style-type: none;
  border-top: 1px solid white;
}
/* line 481, ../../sass/style.scss */
.desktop-right-section .candidate-list-section-mobile li span {
  float: right;
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 1.3em;
  padding-right: 50px;
}
/* line 490, ../../sass/style.scss */
.desktop-right-section .candidate-list-section-mobile a {
  text-decoration: none;
  color: black;
}
/* line 497, ../../sass/style.scss */
.desktop-right-section .candidate-list-section-mobile a:hover li {
  background-color: darkgray;
}
@media only screen and (min-width: 950px) {
  /* line 460, ../../sass/style.scss */
  .desktop-right-section .candidate-list-section-mobile {
    display: none;
  }
}
@media only screen and (min-width: 950px) {
  /* line 460, ../../sass/style.scss */
  .desktop-right-section .candidate-list-section-mobile {
    display: none;
  }
}

/* line 512, ../../sass/style.scss */
.footer {
  color: lightgray;
  background-color: black;
  height: 100%;
}
/* line 517, ../../sass/style.scss */
.footer ul {
  padding-top: 30px;
  text-align: center;
  font-size: 2em;
}
/* line 523, ../../sass/style.scss */
.footer li {
  display: inline;
  list-style-type: none;
}
/* line 528, ../../sass/style.scss */
.footer h2 {
  padding: 0 20px 0 20px;
  text-align: center;
}
/* line 533, ../../sass/style.scss */
.footer p {
  padding: 0 20px 20px 20px;
}
@media only screen and (min-width: 950px) {
  /* line 538, ../../sass/style.scss */
  .footer h2 {
    padding: 30px 100px 0 100px;
    text-align: left;
  }
  /* line 543, ../../sass/style.scss */
  .footer p {
    padding: 0 100px 100px 100px;
  }
}
