/* line 2, ../../sass/style.scss */
html,
body {
  min-height: 100%;
  background-color: white;
}
@media only screen and (max-width: 1000px) {
  /* line 2, ../../sass/style.scss */
  html,
  body {
    margin: 0px !important;
  }
}

/* line 11, ../../sass/style.scss */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../../sass/style.scss */
h1 {
  font-size: 2em;
}

/* line 23, ../../sass/style.scss */
h2 {
  font-size: 1.5em;
}

/* line 27, ../../sass/style.scss */
.navbar {
  background-color: black;
  border-color: black;
  margin-bottom: 0px;
  border-radius: 0px;
}
/* line 33, ../../sass/style.scss */
.navbar .navbar-brand {
  color: lightgray;
  font-size: 2em;
}

/* line 40, ../../sass/style.scss */
.container {
  width: 100%;
  background-color: white;
  padding: 0px 0px 20px 0px !important;
  margin: 0px 0px 0px 0px !important;
}
@media only screen and (min-width: 900px) {
  /* line 40, ../../sass/style.scss */
  .container {
    padding: 0 0 100px 0 !important;
    width: 900px;
    margin: 0 auto !important;
  }
}

/* line 53, ../../sass/style.scss */
.candidate-section {
  text-align: center;
  line-height: 100px;
}
/* line 57, ../../sass/style.scss */
.candidate-section .left-arrow {
  vertical-align: middle;
  display: inline-block;
  float: left;
  font-size: 4.5em;
  padding-left: 10px;
}
/* line 65, ../../sass/style.scss */
.candidate-section .candidate-info {
  display: inline-block;
}
/* line 68, ../../sass/style.scss */
.candidate-section .candidate-info h1 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 2.5em;
}
/* line 74, ../../sass/style.scss */
.candidate-section .candidate-info h2 {
  margin-top: 0;
  font-weight: thin;
}
/* line 80, ../../sass/style.scss */
.candidate-section .right-arrow {
  display: inline-block;
  float: right;
  font-size: 4.5em;
  padding-right: 10px;
}

/* line 88, ../../sass/style.scss */
.bills-name-section {
  text-align: center;
  line-height: 120px;
}
/* line 92, ../../sass/style.scss */
.bills-name-section .left-x {
  vertical-align: middle;
  display: inline-block;
  float: left;
  font-size: 4em;
  padding-left: 10px;
}
/* line 100, ../../sass/style.scss */
.bills-name-section .bills-info {
  display: inline-block;
}
/* line 103, ../../sass/style.scss */
.bills-name-section .bills-info h1 {
  font-weight: bold;
  font-size: 2.5em;
}
/* line 109, ../../sass/style.scss */
.bills-name-section .right-x {
  display: inline-block;
  float: right;
  font-size: 4em;
  padding-right: 10px;
}

/* line 117, ../../sass/style.scss */
.desktop-left-section {
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 900px) {
  /* line 117, ../../sass/style.scss */
  .desktop-left-section {
    float: left;
    width: 30%;
  }
}
/* line 126, ../../sass/style.scss */
.desktop-left-section .candidate-image {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
/* line 131, ../../sass/style.scss */
.desktop-left-section .candidate-image h1 {
  display: none;
}
/* line 135, ../../sass/style.scss */
.desktop-left-section .candidate-image img {
  width: 30%;
}
@media only screen and (min-width: 900px) {
  /* line 126, ../../sass/style.scss */
  .desktop-left-section .candidate-image {
    text-align: left;
  }
  /* line 142, ../../sass/style.scss */
  .desktop-left-section .candidate-image h1 {
    display: block;
  }
  /* line 146, ../../sass/style.scss */
  .desktop-left-section .candidate-image img {
    width: 80%;
  }
}
/* line 152, ../../sass/style.scss */
.desktop-left-section .candidate-committees {
  display: none;
  margin-bottom: 20px;
}
@media only screen and (min-width: 900px) {
  /* line 152, ../../sass/style.scss */
  .desktop-left-section .candidate-committees {
    float: left;
    width: 80%;
    display: block;
  }
  /* line 161, ../../sass/style.scss */
  .desktop-left-section .candidate-committees h1 {
    background-color: white;
  }
  /* line 165, ../../sass/style.scss */
  .desktop-left-section .candidate-committees ul {
    padding-left: 15px;
    font-size: 1.5em;
    background-color: lightgray;
    line-height: 2em;
  }
  /* line 172, ../../sass/style.scss */
  .desktop-left-section .candidate-committees li {
    list-style-type: none;
  }
}
/* line 178, ../../sass/style.scss */
.desktop-left-section .bill-description-desktop {
  display: none;
  margin-bottom: 20px;
}
@media only screen and (min-width: 900px) {
  /* line 178, ../../sass/style.scss */
  .desktop-left-section .bill-description-desktop {
    float: left;
    width: 80%;
    display: block;
  }
}
/* line 189, ../../sass/style.scss */
.desktop-left-section .bills-sponsored-section-desktop {
  width: 100%;
  display: none;
}
@media only screen and (min-width: 900px) {
  /* line 189, ../../sass/style.scss */
  .desktop-left-section .bills-sponsored-section-desktop {
    float: left;
    width: 80%;
    display: block;
  }
  /* line 198, ../../sass/style.scss */
  .desktop-left-section .bills-sponsored-section-desktop h1 {
    background-color: white;
  }
  /* line 202, ../../sass/style.scss */
  .desktop-left-section .bills-sponsored-section-desktop ul {
    padding-left: 15px;
    font-size: 1.5em;
    background-color: lightgray;
    line-height: 2em;
  }
  /* line 209, ../../sass/style.scss */
  .desktop-left-section .bills-sponsored-section-desktop li {
    list-style-type: none;
  }
}

/* line 218, ../../sass/style.scss */
.desktop-right-section {
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 900px) {
  /* line 218, ../../sass/style.scss */
  .desktop-right-section {
    display: inline-block;
    width: 70%;
  }
}
/* line 227, ../../sass/style.scss */
.desktop-right-section .campaign-contributions-section {
  text-align: center;
  background-color: lightgray;
  width: 100%;
  margin-bottom: 20px;
}
/* line 233, ../../sass/style.scss */
.desktop-right-section .campaign-contributions-section h1 {
  padding-top: 20px;
}
@media only screen and (min-width: 900px) {
  /* line 227, ../../sass/style.scss */
  .desktop-right-section .campaign-contributions-section {
    text-align: left;
  }
  /* line 240, ../../sass/style.scss */
  .desktop-right-section .campaign-contributions-section h1 {
    background-color: white;
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}
/* line 249, ../../sass/style.scss */
.desktop-right-section .campaign-contributions-section .contributions-graph {
  background: url("http://i.stack.imgur.com/jj5Nf.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 400px;
}
/* line 258, ../../sass/style.scss */
.desktop-right-section .industry-influence-section {
  text-align: center;
  width: 100%;
}
/* line 262, ../../sass/style.scss */
.desktop-right-section .industry-influence-section h1 {
  padding-top: 20px;
}
@media only screen and (min-width: 900px) {
  /* line 258, ../../sass/style.scss */
  .desktop-right-section .industry-influence-section {
    text-align: left;
    background-color: lightgray;
  }
  /* line 270, ../../sass/style.scss */
  .desktop-right-section .industry-influence-section h1 {
    padding-top: 0;
    background-color: white;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}
/* line 278, ../../sass/style.scss */
.desktop-right-section .industry-influence-section .influence-graph-section {
  height: 400px;
}
/* line 281, ../../sass/style.scss */
.desktop-right-section .industry-influence-section .influence-graph-section .pie-chart {
  width: 100%;
  height: 300px;
}
/* line 288, ../../sass/style.scss */
.desktop-right-section .bill-industry-influence-section {
  text-align: center;
  width: 100%;
  background-color: lightgray;
}
/* line 293, ../../sass/style.scss */
.desktop-right-section .bill-industry-influence-section h1 {
  padding-top: 20px;
}
@media only screen and (min-width: 900px) {
  /* line 288, ../../sass/style.scss */
  .desktop-right-section .bill-industry-influence-section {
    text-align: left;
  }
  /* line 300, ../../sass/style.scss */
  .desktop-right-section .bill-industry-influence-section h1 {
    background-color: white;
    padding-top: 0;
  }
}
/* line 306, ../../sass/style.scss */
.desktop-right-section .bill-industry-influence-section .influence-graph {
  background: url("http://placekitten.com/600/401");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 400px;
}
/* line 314, ../../sass/style.scss */
.desktop-right-section .bill-industry-description {
  background-color: darkgray;
  padding: 30px;
  display: none;
}
@media only screen and (min-width: 900px) {
  /* line 314, ../../sass/style.scss */
  .desktop-right-section .bill-industry-description {
    display: block;
  }
}
/* line 324, ../../sass/style.scss */
.desktop-right-section .bill-description-mobile {
  width: 100%;
  padding: 30px;
}
@media only screen and (min-width: 900px) {
  /* line 324, ../../sass/style.scss */
  .desktop-right-section .bill-description-mobile {
    display: none;
  }
}
/* line 334, ../../sass/style.scss */
.desktop-right-section .bills-sponsored-section-mobile {
  background-color: lightgray;
  width: 100%;
}
/* line 338, ../../sass/style.scss */
.desktop-right-section .bills-sponsored-section-mobile h1 {
  text-align: center;
  padding-top: 20px;
}
/* line 343, ../../sass/style.scss */
.desktop-right-section .bills-sponsored-section-mobile .bill-list {
  background-color: lightgray;
}
/* line 346, ../../sass/style.scss */
.desktop-right-section .bills-sponsored-section-mobile .bill-list .bill-item {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin-top: 0px;
}
@media only screen and (min-width: 900px) {
  /* line 334, ../../sass/style.scss */
  .desktop-right-section .bills-sponsored-section-mobile {
    display: none;
  }
}
/* line 360, ../../sass/style.scss */
.desktop-right-section .candidate-list-section-mobile {
  background-color: lightgray;
  width: 100%;
}
/* line 364, ../../sass/style.scss */
.desktop-right-section .candidate-list-section-mobile h1 {
  text-align: center;
  padding-top: 20px;
}
/* line 369, ../../sass/style.scss */
.desktop-right-section .candidate-list-section-mobile .candidate-list {
  background-color: lightgray;
}
/* line 372, ../../sass/style.scss */
.desktop-right-section .candidate-list-section-mobile .candidate-list .candidate-item {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin-top: 0px;
}
@media only screen and (min-width: 900px) {
  /* line 360, ../../sass/style.scss */
  .desktop-right-section .candidate-list-section-mobile {
    display: none;
  }
}

/* line 387, ../../sass/style.scss */
.footer {
  color: lightgray;
  background-color: black;
  height: 100%;
}
/* line 392, ../../sass/style.scss */
.footer ul {
  padding-top: 30px;
  text-align: center;
  font-size: 2em;
}
/* line 398, ../../sass/style.scss */
.footer li {
  display: inline;
  list-style-type: none;
}
/* line 403, ../../sass/style.scss */
.footer h2 {
  padding: 0 20px 0 20px;
}
/* line 407, ../../sass/style.scss */
.footer p {
  padding: 0 20px 20px 20px;
}
@media only screen and (min-width: 900px) {
  /* line 412, ../../sass/style.scss */
  .footer h2 {
    padding: 30px 100px 0 100px;
  }
  /* line 416, ../../sass/style.scss */
  .footer p {
    padding: 0 100px 100px 100px;
  }
}
