<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Civic-Celerator</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/fonts/MyFontsWebfontsKit.css">
  <script src="http://d3js.org/d3.v2.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>



  <div class="full-container">
  <div class="main" ng-controller="MainCtrl">

      <!-- ****************** NAVBAR ****************** -->
  <nav class="header-section">
    <img src="img/logo.png">
  </nav>
  <!-- ******************* ENDS NAV-BAR ******************* -->

    <div class="candidate-section">

      <div class="left-arrow menu-arrow">
        <img src="img/left.png" ng-click="back()">
      </div> <!-- end of div.left-arrow -->
      
        <div class="candidate-info">
          <h1> {{ firstName }} {{ lastName }} </h1>
          <h2> {{ party }} </h2>
        </div> <!-- end of div.candidate-info -->
      
      <div class="right-arrow menu-arrow">
        <img src="img/right.png" ng-click='forward()'>
      </div> <!-- end of div.right-arrow -->
      
  
    </div> <!-- end of div.candidate-section -->

    <div class="container">

      <div class="desktop-left-section">

        <div class="candidate-image">

          <img src="{{ picture }}">

        </div> <!-- end of div.candidate-image -->

        <div class="candidate-committees">

          
          <h1>Committees </h1>
          <ul>
            <li ng-repeat='committee in committees'>
              <span>{{ committee }}</span>
            </li>

          </ul>
        </div> <!-- end of div.candidate-committees -->

        <div class="bills-sponsored-section-desktop">

          <h1> Bills Sponsored</h1>

          <ul>
            <li ng-repeat="bill in bills"><span class="bold">{{ bill.id }}</span><br>{{ bill.title }}</li>
          </ul>
        </div> <!-- end of div.bills-sponsored-section-desktop -->
          
      </div> <!-- end of div.desktop-left-section -->

      <div class="desktop-right-section">

        <div class="campaign-contributions-section">

          <h1> Campaign Contributions Received </h1>
          <div class="contributions-graph-section">
              <div class="line-chart" lchart></div>
          </div> 

        </div> <!-- end of div.campaing-contributions-section -->

        <div class="industry-influence-section">

          <h1>Monetary Influence (by Contributor Type)</h1>
            <div class="influence-graph-section">
              <div class="pie-chart" pchart></div>
            </div>
          </div> <!-- end of div.influence-graph-section -->


        <div class="bills-sponsored-section-mobile">

          <h1> Bills Sponsored</h1>

          <ul>
            <li ng-repeat="bill in bills"><span class="bold">{{ bill.id }}</span><br>{{ bill.title }}</li>
          </ul>


        </div> <!-- end of div.bills-sponsored-section -->
          
      </div> <!-- end div.desktop-right-section -->

    </div> <!-- end of div.container -->

  </div> <!-- end of MainCtrl -->


    <footer class="footer-section">
      <h1>About</h1>
      <h2>What industry sectors influence bills being passed?</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget mi vehicula, gravida risus non, laoreet elit. Ut fermentum convallis luctus. Pellentesque laoreet ante vitae ornare dapibus. Sed fermentum felis quis sem convallis, et viverra nisi placerat. 
      <br />
      Curabitur euismod pellentesque massa, a egestas turpis pharetra quis. Nullam non congue purus. Fusce a risus non orci sodales scelerisque non sit amet nisi. Vestibulum urna purus, interdum id ligula in, vehicula varius risus. Fusce ac interdum magna.
      </p> 

  </footer>

</div>



  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
