

  <div class="main" ng-controller="SingleBillController">
          <!-- ****************** NAVBAR ****************** -->
  <nav class="header-section">
    <img src="../img/logo.png" ng-click="enter()">
  </nav>
  <!-- ******************* ENDS NAV-BAR ******************* -->
   <div class="bills-name-section">

      <div class="bills-info">
        <h1> {{singleBill.title}} </h1>
      </div> <!-- end of div.candidate-info -->

    </div> <!-- end of div.candidate-section -->

  <div class="container">



    <div class="desktop-left-section">

      <div class="bill-description-desktop">
        <h1> Summary: </h1>
        <p>{{singleBill.summary}}
        </p>
      </div> <!-- end of div.candidate-committees -->

      <div class="candidate-list-section-desktop">
        <h1> Candidate's Supporting</h1>
        <ul>
          <li ng-repeat="bill in bills" ng-click="viewSingleBill(bill.oid)">
            {{ bill.id }}
          </li>

        </ul>
      </div> <!-- end of div.bills-sponsored-section -->


    </div> <!-- end of div.desktop-left-section -->

    <div class="desktop-right-section">
      <div class="bill-industry-influence-section">
        <h1>Monetary Influence (by Contributor Type) </h1>
        <div ng-controller="InudstryCtrl" class="influence-graph-section">
          <div class="pie-chart" pchart></div>
        </div> <!-- end of div.influence-graph-section -->
      </div> <!-- end of div.industry-influence-section -->
      <div class="bill-industry-description">
        <p>The chart above represents the aggregate amount of contributions for all candidates who supported this bill.
        </p>
      </div> <!-- end of div.bill-page-industry-description -->
      <div class="bill-description-mobile">
        <h1> Summary: </h1>
        <p>{{billSummary}}
        </p>
      </div> <!-- end of div.candidate-committees -->

      <div class="candidate-list-section-mobile">
        <h1> Supporters</h1>
        <ul>
          <li ng-click="candidateView({{candidate.candidate_id}})" ng-repeat="candidate in candidates">{{ billSponsors }}</li>
          
        </ul>
      </div> <!-- end of div.bills-sponsored-section -->

    </div> <!-- end div.desktop-right-section -->

  </div> <!-- end of div.container -->

  </div> <!-- end of BillCtrl -->


